<div class="container">
    <div class="row">
        <div class="col-md-3 settings-sidenav">
            <div class="settings-sidenav__inner">
                <h4><small>SETTINGS</small></h4>
                <hr>
                <ul class="nav nav-pills nav-stacked settings-pills">
                    <li class="nav-item" [routerLinkActive]="['active']" >
                        <a class="nav-link" [routerLink]="['/settings/general']">Runner</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" >
                        <a class="nav-link" [routerLink]="['/settings/appearance']">Theme</a>
                    </li>
                </ul>

                <div class="copyright hidden-xs hidden-sm">
                    <hr>
                    <span class="copyright-link" (click)="openWebsite()">upspark {{version}}</span>
                </div>
            </div>

        </div>
        <div class="col-md-9 settings-main">
            <router-outlet></router-outlet>
        </div>
        <div class="hidden-md hidden-lg copyright text-center">
            <hr>
            <span class="copyright-link" (click)="openWebsite()">upspark {{version}}</span>
            <hr>
        </div>
    </div>
</div>
