.screen-option {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .5);
  text-align: center;
  line-height: 50px;
  &.active {
    border: 1px solid dodgerblue;
  }
  &:hover {
    border: 1px dashed dodgerblue;
    cursor:pointer;
  }
}
.screen-select {
  margin-bottom: 20px;
}
.metrics-slider-horizontal {
  display: flex;
  margin-bottom: 10px;
  .metrics-slider-input {
    width: 25%;
  }
  .metrics-slider-tool {
    flex-grow: 1;
    padding: 7px 0 0 16px;
  }
}
.settings-label {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 2px;
}