.settings-sidenav {

}
.settings-main {
  padding: 40px 20px;
}
.settings-pills {
  margin-top: 20px;
}
.copyright {
}
.copyright-link {
  color: #1981ff;
  border-bottom: 1px dotted black;
  &:hover {
    border-bottom: 1px dashed black;
    font-weight: bold;
    cursor: pointer;
  }
}

.settings-sidenav {
  position: relative;
}
@media screen and (min-width: 768px) {
  .settings-sidenav__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    padding: 30px 30px 20px 15px;
  }
}
