

<div class="screen-select" *ngIf="settings.screens.length > 1">
    <p class="lead">DISPLAY</p>

    <div class="row">
        <div *ngFor="let screen of settings.screens" class="col-md-4">
            <div class="screen-option" [class.active]="screen.selected" (click)="onScreenUpdate(screen.index)">
                {{screen.index}}
            </div>

        </div>
    </div>

</div>

<div class="metrics-container">
    <p class="lead">METRICS</p>
    <div class="row">
        <div class="col-sm-6">
            <span class="settings-label">Width</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onWidthInput($event.target.value)" [(ngModel)]="mockSettings.width" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #widthSlider [position]="settings.width" (onPositionChange)="onWidthUpdate($event)" (onPositionFinalChange)="onWidthUpdateFinal($event)"></up-slider></div>
            </div>
        </div>

    </div>

</div>


<div class="form-group">

    <label for="resources">Resources</label>
    <div class="input-group">

        <input type="text" class="form-control" id="resources" disabled readonly [ngModel]="settings.resourceLocation">
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="openResourceDirectory()">Open</button>
      </span>
    </div>

</div>