

<div class="screen-select" *ngIf="settings.screens.length > 1">
    <p class="lead">DISPLAY</p>

    <div class="row">
        <div *ngFor="let screen of settings.screens" class="col-md-4">
            <div class="screen-option" [class.active]="screen.selected" (click)="onScreenUpdate(screen.index)">
                {{screen.index}}
            </div>

        </div>
    </div>

</div>

<div class="metrics-container">
    <p class="lead">METRICS | <small class="reset-action" (click)="triggerResetMetrics()">reset</small></p>
    <div class="row">
        <div class="col-sm-6">
            <span class="settings-label">Screen X</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onXInput($event.target.value)" [(ngModel)]="mockSettings.x" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #xSlider [value]="settings.x" (onPositionChange)="onXUpdate($event)" (onPositionFinalChange)="onXUpdateFinal($event)"></up-slider></div>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="settings-label">Screen Y</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onYInput($event.target.value)" [(ngModel)]="mockSettings.y" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #ySlider [value]="settings.y" (onPositionChange)="onYUpdate($event)" (onPositionFinalChange)="onYUpdateFinal($event)"></up-slider></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="metrics-demo">
                <div class="metrics-demo-container">
                    <div class="metrics-demo-target"></div>
                    <div class="metrics-demo-runner" #demoRunner></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="settings-label">Width</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onWidthInput($event.target.value)" [(ngModel)]="mockSettings.width" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #widthSlider [value]="settings.width" (onPositionChange)="onWidthUpdate($event)" (onPositionFinalChange)="onWidthUpdateFinal($event)"></up-slider></div>
            </div>
            <span class="settings-label">Height</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onHeightInput($event.target.value)" [(ngModel)]="mockSettings.height" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #heightSlider [value]="settings.height" (onPositionChange)="onHeightUpdate($event)" (onPositionFinalChange)="onHeightUpdateFinal($event)"></up-slider></div>
            </div>
            <span class="settings-label">Offset X</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onOffsetXInput($event.target.value)" [(ngModel)]="mockSettings.offsetX" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #offsetXSlider [lower]="-1" [value]="settings.offsetX" (onPositionChange)="onOffsetXUpdate($event)" (onPositionFinalChange)="onOffsetXUpdateFinal($event)"></up-slider></div>
            </div>
            <span class="settings-label">Offset Y</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onOffsetYInput($event.target.value)" [(ngModel)]="mockSettings.offsetY" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #offsetYSlider [lower]="-1" [value]="settings.offsetY" (onPositionChange)="onOffsetYUpdate($event)" (onPositionFinalChange)="onOffsetYUpdateFinal($event)"></up-slider></div>
            </div>

            <span class="settings-label">Rotation</span>
            <div class="metrics-slider-horizontal">
                <div class="metrics-slider-input"><input (input)="onRotationInput($event.target.value)" [(ngModel)]="mockSettings.rotation" type="text" class="form-control"></div>
                <div class="metrics-slider-tool"><up-slider #rotationSlider [upper]="360" [value]="settings.rotation" (onPositionChange)="onRotationUpdate($event)" (onPositionFinalChange)="onRotationUpdateFinal($event)"></up-slider></div>
            </div>
        </div>


    </div>

</div>

