.screen-option {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .5);
  text-align: center;
  line-height: 50px;
  &.active {
    border: 1px solid dodgerblue;
  }
  &:hover {
    border: 1px dashed dodgerblue;
    cursor:pointer;
  }
}
.screen-select {
  margin-bottom: 20px;
}
.metrics-slider-vertical {
  display: flex;
  flex-direction: column;
}
.metrics-slider-horizontal {
  display: flex;
  margin-bottom: 10px;
  .metrics-slider-input {
    width: 30%;
  }
  .metrics-slider-tool {
    flex-grow: 1;
    padding: 7px 0 0 16px;
  }
}
.settings-label {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 2px;
}

.metrics-demo {
  margin-top:10px;
}

.metrics-demo-container {
  width:100%;
  padding-bottom: 75%;
  background: rgba(0, 0, 0, .2);
  border: 1px dotted dodgerblue;
  position: relative;
  overflow: hidden;
}

.metrics-demo-runner {
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  position: absolute;
  border: 2px solid dodgerblue;
}

.metrics-container {
  margin-bottom: 15px;
}