.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.safe-content {
  margin-bottom: 40px;
  padding-top:40px;
}

.nav-link:hover {
  cursor: pointer;

}

.safe-key-value {
  padding: 20px;
  border-bottom: 1px dotted rgba(0,0,0, .5);
  display:flex;

  a:hover {
    cursor: pointer;
  }
}

.safe-key-value__title {
  flex-grow: 1;
}

.safe-key-value__edit {
  padding: 0 20px;
}

.search-filter {
  float: right;
  width: 150px;
  margin-top: 7px;
  margin-right: 10px;
}
.create-action-container {
  float: left;
}