<p>
    Avoid putting sensitive information in plain text with <strong>safe</strong>.
</p>
<p>
    Information in the safe is stored in key-value pairs and protected with <strong>AES-256</strong> encryption with a master password.
</p>
<p>
    To start using safe, provide a master password below. If this password is lost or forgotten, the safe can never be opened again and a new one will have to be created.
</p>
<form>

    <div class="form-group">
        <label for="password">Master Password</label>
        <input type="password" class="form-control" placeholder="Master Password" id="password">
    </div>
    <div class="form-group">
        <label for="password-confirm">Master Password Confirm</label>
        <input type="password" class="form-control" placeholder="Master Password Confirm" id="password-confirm">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>

</form>