.sticky-bottom {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}

.sticky-top {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

.safe-content {
  margin-bottom: 54px;
  padding-top:54px;

}

.nav-link:hover {
  cursor: pointer;
}

.safe-key-value {
  padding: 20px;
  border-bottom: 1px dotted rgba(0,0,0, .5);
  display:flex;
  a:hover {
    cursor: pointer;
  }
}

.safe-key-value__title {
  flex-grow: 1;
}

.safe-key-value__edit {
  padding: 0 20px;
}