up-command-argument {
  flex-grow: 1;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  color: white;
}

.command-argument {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  padding-left: 10px;
}

.command-argument__text {
  resize: none;
  overflow: hidden;
  padding: 10px;
  background: none;
  border: 0;
  box-shadow: none;
  outline: none;
  border-left: 1px dashed grey;
}