<div class="command" [class.command--hover]="command.hover">
    <div class="command__title" [class.command__title--complete]="command.completed && !command.error" [class.command__title--error]="command.error">{{command.title}}</div>
    <div class="command__response">
        <div *ngIf="command.error" class="command__response__error" [innerHTML]="command.error">
        </div>
        <div *ngIf="command.output" class="command__response__output" [innerHTML]="command.output">
        </div>
    </div>
</div>