<div class="command" [class.command--hover]="command.hover">

    <div class="command__selector"
         *ngIf="command.active"
         [@expand]>
        <div class="command__selector__line"></div>
        <div class="command__selector__pointer"></div>
    </div>

    <div class="command__title"
         [@slide]>

        <div class="command__title__text">
            <div class="command__title__text__main">
                {{command.reference.intent.display || command.reference.intent.command}}
            </div>
            <div class="command__title__text__tag"
                 *ngIf="command.reference.tag"
                 [innerHTML]="command.reference.tag"
                 [@expand]>
            </div>
        </div>

        <div class="command__title__indicator"
             [class.command__title__indicator--intermediate]="!command.reference.completed && command.reference.progress < 0"
             [class.command__title__indicator--success]="command.reference.completed && !command.reference.error"
             [class.command__title__indicator--error]="command.reference.completed && command.reference.error">

            <div class="command__title__indicator__progress"
                 *ngIf="!command.reference.completed && command.reference.progress > -1"
                 [style.width]="command.reference.progress+'%'">
            </div>

            <div class="command__title__indicator__bar"></div>
            <div class="command__title__indicator__bar"></div>
            <div class="command__title__indicator__bar"></div>
        </div>

    </div>

    <div class="command__response">
        <div *ngIf="command.reference.response"
             class="command__response__output"
             [class.command__response__error]="command.reference.error"
             [innerHTML]="command.reference.response">
        </div>
    </div>

</div>