<div class="command" [class.command--hover]="command.hover">

    <div class="command__selector" *ngIf="command.isNavigatedTo" [@expand]>
        <div class="command__selector__line"></div>
        <div class="command__selector__pointer"></div>
    </div>

    <div class="command__title"
         *ngIf="command.siblings > 1 || command.isNavigatedTo || (!command.error && !command.output)" [@slide]>
        <div class="command__title__text">{{command.isSystemCommand ? (command.argument.split("|")[0].toUpperCase()) :
            command.title}}
        </div>

        <div class="command__title__indicator"
             [class.command__title__indicator--intermediate]="!command.completed && command.progress < 0"
             [class.command__title__indicator--success]="command.completed && !command.error"
             [class.command__title__indicator--error]="command.completed && command.error">
            <div class="command__title__indicator__progress"
                 *ngIf="!command.completed && command.progress > -1"
                 [style.width]="command.progress+'%'"></div>

            <div class="command__title__indicator__bar"></div>
            <div class="command__title__indicator__bar"></div>
            <div class="command__title__indicator__bar"></div>
        </div>

    </div>
    <div class="command__response">
        <div *ngIf="command.error" class="command__response__error" [innerHTML]="command.error">
        </div>
        <div *ngIf="command.output" class="command__response__output" [innerHTML]="command.output">
        </div>
    </div>
</div>