up-command {
  display: flex;
  position: relative;
  overflow:hidden;

}
.command {
  display: flex;
  width: 100%;
  //flex-grow: 1;
  //animation: slide-up 200ms ease-in 0ms 1 normal forwards;
  &:not(.command--stale).command--hover {
    .command__title {
      background: rgba(0, 0, 0, 0.21);
    }
  }
}
.command__log {
  width: 100%;
  margin-top: 5px;
  max-height: 75px;
  &.command__log--focus {
    overflow: auto;
  }
}
.command__title__indicator {
  width: 100%;
  height: 2px;
  position: relative;
}
.splash__indicator .command__title__indicator {
  height: 10px;
}
.accent {
  color: #1981ff;
}
.block {
  min-width: 250px;
}
.command__log__text {
  color: rgba(255, 255, 255, 0.61);
  &.command__log__text--error {
    color: #ff4d43;
  }
}

$background-indicator-error: rgba(255, 1, 0, 0.31);
$background-indicator-success: rgba(8, 61, 150, 0.64);
$background-indicator-loading: #fdba2c;

.command__title__indicator--error {
  background: $background-indicator-error;
}
.command__title__indicator--success {
  background: $background-indicator-success;
}
.command__title__indicator--historical {
  background: dimgrey;
}
.command__title__indicator__progress {
  background: $background-indicator-success;
  height: 100%;
  transition: width 500ms cubic-bezier(0, 0, 0.2, 1);
}
.command__title__indicator--intermediate {
  background-color: #fdba2c;
}

.command__title__indicator__bar {
  content: "";
  display: none;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
  &:nth-child(1) {
    background-color: #da4733;
    animation: loading 1000ms linear infinite;
  }
  &:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 1000ms linear 333ms infinite;
  }
  &:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 1000ms linear 666ms infinite;
  }
}
.command__title__indicator--intermediate .command__title__indicator__bar {
  display: inline;
}

.command-runtime {
  color: rgba(255, 255, 255, 0.71);
}

@keyframes loading {
  from {left: 50%; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}

.command__title__text {
  overflow-x:auto;
  display: flex;
}
.command__title__text__tag {
  padding-left: 5px;
  margin-left: 5px;
  font-size: 70%;
  text-transform: uppercase;
  align-self: flex-end;
  padding-bottom: 3px;
  padding-top: 3px;
  border-left: 1px dotted rgba(8, 61, 150, 0.9);
}
.command__title {
  //background: rgba(147, 147, 147, 0.15);
  color: rgba(255, 255, 255, 0.61);
  padding: 5px;
  font-size: 1em;
  font-family: sans-serif;
  max-width: 200px;
  margin-right: 5px;
 align-self: flex-start;
  text-shadow: #0a0a0a 1px 1px 1px;


  &:hover {
    cursor: pointer;
  }
}
.command__spacer {
  width: 300px;
}
.command__response {
  align-self: flex-start;
  font-size: .9em;
  color: white;
  padding: 8px 0;
  strong {
    border-bottom: 2px dotted dodgerblue;
    font-weight: 100;
  }
}

.command__selector {
  display: flex;
  align-self:center;
  margin-right: 5px;
  width: 20px;
  &.command__selector-repl {
    width: 30px;
  }
}

$color-pointer: rgba(186, 190, 187, 0.37);

.command__selector__pointer {
  width: 0;
  height: 0;
  border-top: 4px dashed transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid $color-pointer;
  &.command__selector-repl {
    border: 0;
  }
}
.command__selector__line {
  flex-grow: 1;
  align-self: center;
  height: 1px;
  border-bottom: 2px solid $color-pointer;
  &.command__selector-repl {
    border-bottom: 1px dotted $color-pointer;
  }
}