@import '~bootstrap/dist/css/bootstrap.css';
html,body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: transparent;
}

app {
    width: 100%;
    height: 100%;
    display: block;
}
up-runner {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.up-title {
    padding: 20px;
    background: #1981ff;
    color: white;
    font-size: 1.2em;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}