html,body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

app {
    width: 100%;
    height: 100%;
    display: block;
}
up-runner {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.up-title {
    padding: 20px;
    background: #1981ff;
    color: white;
    font-size: 1.2em;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.method-comment {
  font-size: 12px;
  margin-left: -15px;
  margin-top: 4px;
  color: #00a379;
}
.method-signature,.method-bracket {
  color: #2196f3;
}
.method-arg {
  text-align: right;
  color: #1f79a3;
}
.method-chain,.method-semicolon {
  color: #c27f05;
}
.error-subtext {
  color: white;
  font-style: italic;
}