<div class="update-container">
    <button type="button" class="btn btn-success btn-lg btn-block" (click)="main()">Back</button>
<hr>
    <p class="lead">Update the safe's password.</p>

    <form (ngSubmit)="onSubmit()" novalidate [formGroup]="updateSafeForm">

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   id="password"
                   name="password"
                   formControlName="password">
            <div *ngIf="formErrors.password" class="alert alert-danger">
                {{ formErrors.password }}
            </div>
        </div>
        <div class="form-group">
            <label for="password-confirm">Password Confirm</label>
            <input type="password"
                   class="form-control"
                   placeholder="Password Confirm"
                   id="password-confirm"
                   name="password-confirm"
                   formControlName="passwordConfirm">
            <div *ngIf="formErrors.passwordConfirm" class="alert alert-danger">
                {{ formErrors.passwordConfirm }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit-button" [disabled]="!updateSafeForm.valid">Update</button>

    </form>
</div>