<div id="runner" (keydown)="onRunnerKeyDown($event)" [class.runner-repl]="repl">
    <div id="runner__path">
        <div id="runner-image" [class.runner-image-repl]="repl">
        </div>
        <div id="runner-path">{{cwd}}</div>
    </div>

    <div id="runner__container">
        <div class="runner-input__container">
            <input id="runner-input"
                   #runnerInput
                   [class.runner-input--args]="intent.arguments.length !== 0"
                   [(ngModel)]="intent.command" class="plain">
        </div>

        <up-command-argument #argument *ngFor="let arg of intent.arguments" [argument]="arg"></up-command-argument>

        <div class="runner__output__container" *ngIf="command && command.reference.output && command.reference.output.length">
            <div class="runner__output">
                <div class="runner__output__text"
                     *ngFor="let out of command.reference.output"
                     [class.runner__output__text--error]="out.type === 'error'" [innerHTML]="out.message"></div>
            </div>
        </div>

    </div>

    <up-command-list #commandList (commandClick)="onCommandClick($event)" ></up-command-list>
</div>
