#runner-basic {
    display: flex;
    align-items: center;
    width:100%;
    height: 100%;
    flex-grow:1;
}
#runner-input {
    width:100%;
    font-size: 4.5em;
    text-align:center;
    color: white;
}
up-runner-basic {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
}