#runner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#runner__path {
    display: flex;
}
#runner-image {
    margin: 20px;
    width: 30px;
    height: 30px;
    background-image: url('/dist/static/icon/512.png');
    background-size: 30px 30px;
    opacity: .5;
    &:hover {
        cursor: pointer;
    }
}
#runner-path {
    margin-top: 26px;
}
#runner__container {
    flex-grow:1;
}
#runner-debug {
    width: 100%;
    margin: 20px;
}