$thickness: 10px;

$line-color: #498dff;

$ball-color: #498dff;
$ball-color-hover: #294d8f;
$ball-color-dragging: rgba(41, 77, 143, 0.69);

.slider-container {
  position: relative;
  &.slider-vertical {
    height: 100%;
    width: $thickness*2;
    .slider-line {
      margin-left: $thickness;
      border-right: 1px dotted $line-color;
    }
    .slider-ball {
      transform: translateX(-50%);
    }
  }
  &.slider-horizontal {
    width: 100%;
    height: $thickness*2;
    .slider-line {
      margin-top: $thickness;
      border-bottom: 1px dotted $line-color;
    }
    .slider-ball {
      transform: translateY(-50%);
    }
  }

  .slider-line {
    position: relative;
  }
  .slider-ball {
    width: $thickness*2;
    height: $thickness*2;
    border-radius: $thickness*2;
    background: $ball-color;
    position: absolute;
    &:hover {
      background: $ball-color-hover;
      cursor: pointer;
    }
    &.slider-ball-dragging {
      background: $ball-color-dragging;
    }
  }
  .slider-label {
    position: relative;
    top: $thickness+10px;
  }
}
up-slider-ball {
  position: absolute;
  width:100%;
}
